<h1>Home</h1>

<p>Welcome</p>

<%= current_user.profile.username || current_user.email %>
    
<br>
<p>Visit your profile here</p>
<%= link_to 'Profile', profile_path(@profile) %>


<br>

<h3>Last New Users</h3>

<div>
<% @users.each do |user| %>
    <ul>
        <li><%= user.email %></li>
    </ul>
<% end %>
</div>